  @font-face {
    font-family: 'Manrope Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Manrope Regular'), url('../Manrope/manrope-regular.woff') format('woff');
    }
  
  body{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-family: 'Manrope Regular' Karla, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 72.5px 0px 0px 0px;
      background-color: rgb(243, 239, 239);
      /* background-color: red; */
      position: relative;
  }
  .navbar{
    justify-content: space-between;
    margin: 0px;
    background-color: #04172A;
    border: none;
    position: relative;
  }
 .navbar-brand{
    margin: 0px;
    padding: 0px;
    justify-content: left;
    align-items: flex-start;
  }
  .navbar-brand img{
    width: 100px;
    margin: 0px;
  }
  #navbarNav{
    justify-content: flex-end;
  }
  .navbar-nav{
    justify-content: stretch;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .nav-item{
    width: 10em;
    margin: 0px 10px;
    font-weight: bold;
  }
  .nav-link{
    color: white;
  }
  #welcomeDiv{
    background-color: #225085;
    height: 10em;
    margin: 0px;
    width: 100%;
    padding: 20px 0px 0px 20px;
    border: none;
  }
  #welcomeDiv p{
    font-size: 2em;
    color: white;
  }
  #colorDiv{
    background-color: #225085;
    /* background-color: red; */
    height: 3.5em;
    width: 100%;
    position: absolute;
    top: 14.5em;
  }

  #mainDiv{
    /* position: absolute; */
    /* top: 13.5em; */
    width: 90%;
    padding: 0px;
    margin: 0px 0px 30px 0px;
  }
  .outer{
    height: 100%;
    padding: 5px;
  }
  .inner{
    background-color: white;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
  }
  .toprow{
    margin: 0px;
    padding: 0px;
  }
  .category{
    border-radius: 2.5px;
    padding: 2.5px 10px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 0.875em;
    color: white;
  }
  .middlerow{
    margin: 0px;
    padding: 0px;
  }
  .middlerow .col-md-3{
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
  .portalThumbnail{
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  .middlerow .col-md-9{
    padding: 0px 0px 0px 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .middlerow .col-md-9 p{
    padding: 0px;
    margin: 0px;
    font-size:0.875em;
    line-height: 1.25em;
    text-align: left;
    font-family: 'Manrope Regular';
  
  }
  .btnrow{
    margin: 0px;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0px;
  }
  .btnrow button{
    width: fit-content;
    padding: 0px 5px;
    margin: 0px;
  }
  footer{
    color: white;
    background-color: #04172A;
    width: 100%;
  }
  .fa{
    /* font-size: 0em; */
  }
   

@media screen and (max-width:767px){
  
  #welcomeDiv p{
    font-size: 1.5em;
    color: white;
  }
  .dropdown-menu{
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
  .dropdown-item{
    background-color: white;
    margin: 0px;
  }

  .inner{
    padding: 15px;
  }
  .toprow{
    margin: 0px;
    width: fit-content;
    padding: 5px;
    justify-content: center;
  }
  .middlerow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
    .middlerow .col-md-3{
      margin: 0px;
      padding: 0px;
      width: 25%;
    }
    .portalThumbnail{
      width: 100%;
    }
  
    .middlerow .col-md-9{
      align-items: center;
      width: 75%;
    }
    .middlerow .col-md-9 p{
      text-align: left; 
      font-size: 1.25em;  
    }
 

    .btnrow{
      margin: 0px;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
    }
      
}
 

