  @font-face {
    font-family: 'Manrope Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Manrope Regular'), url('../Manrope/manrope-regular.woff') format('woff');
    }
  
  body{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      /* background-color: black; */
      font-family: 'Manrope Regular' Karla, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 72.5px 0px 0px 0px;
      /* background-color: #ccc; */
      /* background-color: #04172A; */
      background-color: rgb(243, 239, 239);
      position: relative;
  }
  .navbar{
    justify-content: space-between;
    margin: 0px;
    background-color: #04172A;
    border: none;
    position: relative;
  }
 .navbar-brand{
    margin: 0px;
    padding: 0px;
    justify-content: left;
    align-items: flex-start;
  }
  .navbar-brand img{
    width: 100px;
    margin: 0px;
  }
  #navbarNav{
    justify-content: flex-end;
  }
  .navbar-nav{
    justify-content: stretch;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .nav-item{
    width: 10em;
    /* background-color: white; */
    margin: 0px 10px;
    font-weight: bold;
  }
  .nav-link{
    color: white;
  }
  #welcomeDiv{
    background-color: #225085;
    height: 12.5em;
    margin: 0px;
    width: 100%;
    padding: 20px 0px 0px 20px;
    /* position: relative; */
    border: none;
  }
  #welcomeDiv p{
    font-size: 2em;
    color: white;
  }

  #mainDiv{
    position: absolute;
    /* background-color: gray; */
    top: 13.5em;
    /* height:100%; */
    width: 85%;
    /* align-self: center; */
    padding: 0px;
    margin: 0px;
    /* display: flex;
    flex-wrap: wrap; */
  }
  .outer{
    /* background-color: white; */
    height: 100%;
    padding: 5px;
    /* border: 2px solid red; */
    /* height: 100%; */
    /* margin: 0px; */
  }
  .inner{
    background-color: white;
    height: 100%;
    border-radius: 10px;

    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
  }
  .toprow{
    margin: 0px;
    /* height: 25%; */
    /* width: fit-content; */
    padding: 0px;
    /* justify-content: center; */
  }
  .category{
    padding: 5px;
    margin: 0px;
    /* text-align: center; */
    font-size: 1.25em;
    font-weight: bold;
    color: white;
  }
  .middlerow{
    /* background-color: seagreen; */
    margin: 0px;
    padding: 0px;
    /* border: 2px solid yellow; */
    /* display: flex; */
    /* height: 50%; */
  }
  .middlerow .col-md-3{
    /* background-color: red; */
    margin: 0px;
    /* padding:  0px auto; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
  .studentPortalImg{
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  .middlerow .col-md-9{
    padding: 0px 0px 0px 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .middlerow .col-md-9 p{
    padding: 0px;
    margin: 0px;
    font-size:1em;
    line-height: 1.25em;
    text-align: left;
    font-family: 'Manrope Regular';
  
  }
  .btnrow{
    margin: 0px;
    /* height: 25%; */
    /* box-sizing: border-box; */
    /* padding: 0px auto; */
    /* width: fit-content; */
    /* background-color: red; */
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0px;
  }
  .btnrow button{
    width: fit-content;
    padding: 0px 4px;
    margin: 0px;
  }
 

  
  footer {
    /* position: fixed; */
    background-color: greenyellow;
    /* height: 100px; */
    bottom: 0;
    width: 100%;
    /* margin-top: 50px; */
}


@media screen and (max-width:767px){
  
  #welcomeDiv p{
    font-size: 1.5em;
    color: white;
  }
  .dropdown-menu{
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
  .dropdown-item{
    background-color: white;
    margin: 0px;
  }

  .toprow{
    margin: 0px;
    /* height: 25%; */
    /* width: fit-content; */
    padding: 5px;
    justify-content: center;
  }
    .middlerow .col-md-3{
      /* background-color: red; */
      margin: 0px;
      /* padding:  0px auto; */
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }
    .studentPortalImg{
      width: 50%;
    }
  
    .middlerow .col-md-9{
      align-items: center;
      justify-content: center;
    }
    .middlerow .col-md-9 p{
      text-align: center;   
    }
 

    .btnrow{
      margin: 0px;
      /* height: 25%; */
      /* box-sizing: border-box; */
      /* padding: 0px auto; */
      /* width: fit-content; */
      /* background-color: red; */
      width: 100%;
      align-items: center;
      justify-content: center;
    }
      
}
 

